html, body {margin:0; padding:0;}
#landing, #landing *, #landing :before, #landing :after {
  position:relative;
  margin:0;
  padding:0;
  box-sizing:border-box;
  vertical-align:middle;
  text-overflow:ellipsis;
  font-family:Montserrat, Arial, Helvetica, Tahoma, Verdana, sans-serif;
  text-align: center;
}
.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
#landing {
  width:1500px;
  font-size:16px;
  
  background:#fff;
  text-align:center;
}
#landing {font-size:1.061vw; width:auto;}
#landing > * {text-align:left;}

#landing > .feature {
  display:inline-block;
  width:23.75em;
  margin-top:0.125em;
  padding:0 2.625em;
  text-align:center;
  vertical-align:top;
}
#landing > .feature > .picture {width:300px; height:450px; margin-bottom:2.25em;}
#landing > .feature > .caption {
  font-size:1.4em;
  font-weight:normal;
  margin-bottom:.8em;
  min-height:2.43em;
  color:#3e4e5c;
  text-align:center;
}
#landing > .feature > .summary {color:#737d85; font-size:.86em; text-align:left;}
